<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <!-- 双大括号代表template表达式
    <h1>{{ article.id }} | {{ article.title }} | {{ article.content }}</h1>
    -->
    <table border="1" width="600">
        <tr>
            <th>编号</th>
            <th>标题</th>
            <th>正文简介</th>
            <th>操作</th>
        </tr>
        {% for article in articles %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ article.title }}</td>
                <td>{{ article.content }}</td>
                <td>更新 | 删除</td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>